:root {
  --gray-700: #0d0d0d;
  --gray-600: #1a1a1a;
  --gray-500: #262626;
  --gray-400: #333333;
  --gray-300: #808080;

  --blue-dark: #1e6f9f;
  --blue: #4ea8de;

  --purple-dark: #5e60ce;
  --purple: #8284fa;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--gray-600);
  -webkit-font-smoothing: antialiased;
  color: var(--gray-300);
}

body,
input,
button {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}
